<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EQUITY_FILE_PATH" value=""/>
    <add key="EQUITY_FILE_PATH" value="C:\TR\d\Personal\Doc\Equity.xlsx"/>
    <add key="ASSET_FILE_PATH " value="C:\TR\d\Personal\Doc\Equity.xlsx"/>
    <add key="Destination" value="DB"/>
  </appSettings>
</configuration>